# Secrets & Credentials
.env

# Python Virtual Environments
.venv/
venv/
env/

# Build Files
build/

# OS & Editor Files
*.code-workspace
.idea/

# System Files
.DS_Store

# Python cache Files
__pycache__/
*.py[cod]

# Ruff cache
.ruff_cache/